SH_SOURCES="Sh_P2214163_nV-5.1_r35.2.1-00"
SH_GIT_SOURCES="https://github.com/StoneHEX/${SH_SOURCES}.git"
CROSS_COMPILER_SERVER="https://developer.nvidia.com/embedded/jetson-linux/bootlin-toolchain-gcc-93"
CROSS_COMPILER="aarch64--glibc--stable-final"
CROSS_COMPILER_ARCHIVE="${CROSS_COMPILER}.tar.gz"
TOOLCHAIN_PREFIX="${HERE}/${CROSS_COMPILER}/bin/aarch64-linux-"
TEGRA_KERNEL_OUT="${HERE}/${SH_SOURCES}/${BOARD}_build"
DTSI_FOLDER="dtsi/${BOARD}"

